<!DOCTYPE html>
<html lang="en">
<head>
    <title>FilmoPolis - CRUD</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="stylesheet" href="./styles/CRUD.css">
</head>
<body>
    <main>
        <div id="app" class="container">
            <div v-if="error">
                <p>Lo sentimos , ........</p>
            </div>
            <div v-else>
                <section v-if="cargando">
                    <div class="spinner-border"></div>
                    <p>Cargando .....</p>
                </section>
                <section v-else id="crud_peliculas">
                    <h2>CRUD - Peliculas</h2>
                    <br><br>
                    <a style="text-decoration: underline;" href="#crud_usuarios">CRUD Usuarios</a>
                    <br><br>
                    <div class="fila">
                        <a class="boton" href="pelicula_nueva.html">Nueva Pelicula</a>
                        <div class="buscador">
                            <input id="buscar" type="text" v-model="buscado" placeholder="Buscar pelicula" autocomplete="off">
                            <i class='bx bx-search-alt-2 lupita' v-on:click="fetchDataNombre()"></i>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Descripcion</th>
                                    <th scope="col">Imagen</th>
                                    <th>Categoria</th>
                                    <th>Duracion</th>
                                    <th>Trailer</th>
                                    <th>Idioma</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody id="tableBody">
                                <tr class=""  v-for="pelicula in peliculas">
                                    <td scope="row">{{pelicula.id}}</td>
                                    <td>{{pelicula.nombre}}</td>
                                    <td>{{pelicula.descripcion}}</td>
                                    <td>
                                        <img width="60"  :src="pelicula.imagen" :alt="pelicula.nombre">
                                    </td>
                                    <td>{{pelicula.categoria}}</td>
                                    <td>{{pelicula.duracion}}</td>
                                    <td>{{pelicula.trailer}}</td>
                                    <td>{{pelicula.idioma}}</td>
                                    <td>
                    			        <a class="boton" :href="'pelicula_update.html?id='+ pelicula.id" >Editar</a>
                                        <br>
                                        <br>
                                        <button class="eliminar" v-on:click="eliminar(pelicula.id)" >Eliminar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
                <section id="crud_usuarios">
                    <h2>CRUD - Usuarios</h2>
                    <br><br>
                    <a style="text-decoration: underline;" href="#crud_peliculas">CRUD Peliculas</a>
                    <br><br>
                    <div class="fila">
                        <a class="boton" href="usuario_nuevo.html">Nuevo Usuario</a>
                        <div class="buscador">
                            <input id="buscar" type="text" v-model="buscado" placeholder="Buscar usuario" autocomplete="off">
                            <i class='bx bx-search-alt-2 lupita' v-on:click="fetchDataNombreUsuario()"></i>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Usuario</th>
                                    <th>Contraseña</th>
                                    <th>Rango</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody id="tableBody">
                                <tr class=""  v-for="cliente in usuarios">
                                    <td>{{cliente.id}}</td>
                                    <td>{{cliente.usuario}}</td>
                                    <td>{{cliente.contrasenia}}</td>
                                    <td>{{cliente.rango}}</td>
                                    <td>
                    			        <a class="boton" :href="'usuario_update.html?id='+ cliente.id" >Editar</a>
                                        <br>
                                        <br>
                                        <button class="eliminar" v-on:click="eliminar_usuario(cliente.id)">Eliminar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </main>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script><!--Link de VUE-->
    <script src="./js/peliculas.js"></script>
</body>
</html>
