<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="./styles/style.css">
        <link rel="stylesheet" href="./styles/index.css">
        <title>FilmoPolis</title>
    </head>
    <body>
        <main class="index" id="app">
            <div class="contenedor centrado">
                <div class="logo">
                    <img src="./img/Filmopolis.png" alt="Logo-Filmopolis" class="logo-imagen">
                </div>
                <h2>Tu <span class="resaltado">cine</span>, tu tiempo, tu elección.</h2>
                <div class="contenedor-botones">
                    <button class="ingresar" onclick="mostrar('ingresar')">Ingresar</button>
                    <button class="registrarse" onclick="mostrar('registrarse')">Registrarse</button>
                </div>
            </div>
            <form id="ingresar" class="formulario centrado">
                <i class='bx bx-message-square-x salir' onclick="cerrar('ingresar')"></i>
                <h2>Inicar sesión</h2>
                <input type="text" placeholder="Usuario" v-model="nombre">
                <input type="password" placeholder="Contraseña" v-model="contrasenia">
                <input type="button" value="Confirmar" v-on:click="fetchData()">
            </form>
            <form id="registrarse" class="formulario centrado">
                <i class='bx bx-message-square-x salir' onclick="cerrar('registrarse')"></i>
                <h2>Registrarse</h2>
                <input type="text" placeholder="Crear usuario" v-model="nombre">
                <input type="password" placeholder="Crear contraseña" v-model="contrasenia">
                <input type="button" value="Confirmar" v-on:click="grabar()">
            </form>
            <span class="sin-sesion" onclick="continuar_sin_sesion()">Continuar sin cuenta</span>
        </main>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>