<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="stylesheet" href="./styles/peliculas.css">
    <title>FilmoPolis - Peliculas</title>
</head>
<body>
    <header id="header"></header>
    <main>
        <div id="app">
            <div id="peliculas">
                <div v-if="error">
                    <p>Lo sentimos , ........</p>
                </div>
                <div v-else>
                    <section v-if="cargando">
                        <div class="carga centrado"></div>
                    </section>
                    <section v-else>
                        <div class="header-peliculas">
                            <h1>Ver Peliculas</h1>
                            <div class="buscadores">
                                <div class="contenedor-categorias">
                                    <div class="categorias-boton" onclick="mostrar_categorias()">Categorias</div>
                                    <div id="categorias" class="oculto">
                                        <div class="categoria" onclick="mostrar_categorias()" v-on:click="fetchDataCategoria('animacion')">Animación</div>
                                        <div class="categoria" onclick="mostrar_categorias()" v-on:click="fetchDataCategoria('fantasia')">Fantasía</div>
                                        <div class="categoria" onclick="mostrar_categorias()" v-on:click="fetchDataCategoria('comedia')">Comedia</div>
                                        <div class="categoria" onclick="mostrar_categorias()" v-on:click="fetchDataCategoria('accion')">Accion</div>
                                    </div>
                                </div>
                                    <div class="buscador">
                                        <input id="buscar" type="text" v-model="buscado" placeholder="Buscar pelicula" autocomplete="off">
                                        <i class='bx bx-search-alt-2 lupita' v-on:click="fetchDataNombre()"></i>
                                    </div>
                            </div>
                        </div>
                        <div class="body-peliculas">
                            <article class="pelicula aparecer" v-for="pelicula in peliculas" v-if="cargar">
                                <a :href="'info_pelicula.html?id=' + pelicula.id">
                                    <img class="pelicula-imagen" :src="pelicula.imagen" :alt="pelicula.nombre">
                                </a>
                                <div class="pelicula-titulo">
                                    <span class="resaltado">{{pelicula.nombre}}</span>
                                </div>
                            </article>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <img class="footer-logo" src="./img/Filmopolis.png" alt="logo-FilmoPolis" width="110">
        <a href="https://github.com/Franco-Schendel/CRUD-ProyectoFinal" target="_blank"><i class='bx bxl-github icono'></i></a>
        <span>Copyright &copy 2023 Filmópolis</span>
    </footer>
    <script src="js/header.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/peliculas.js"></script>
</body>
</html>