<!doctype html>
<html lang="en">
<head>
  <title>Producto Nuevo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="./styles/style.css">
  <link rel="stylesheet" href="./styles/CRUD.css">
</head>
<body>
  <main>
    <form class="contenedor-nueva-peli centrado" id="app">
      <input type="text" name="nombre" id="nombre" v-model="nombre" placeholder="Titulo">
      <input type="text" name="descripcion" id="descripcion" v-model="descripcion" placeholder="Descripcion">
      <input type="text" name="categoria" id="categoria" v-model="categoria" placeholder="Categoria">
      <input type="text" name="trailer" id="trailer" v-model="trailer" placeholder="Trailer">
      <input type="number" name="duracion" id="duracion" v-model="duracion" placeholder="Duracion">
      <input type="text" name="idioma" id="idioma" v-model="idioma" placeholder="Idioma">
      <input type="text" name="imagen" id="imagen" v-model="imagen" placeholder="Imagen">
      <img width="100" :src="imagen" :alt="nombre">
      <button type="button" class="btn btn-success" v-on:click="modificar()">Grabar</button>
    </form>
  </main>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="./js/pelicula_editar.js"></script>
</body>
</html>
