<DOCTYPE html>
<html lang="en">
  <head>
    <title>Producto Nuevo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./styles/CRUD.css">
    <link rel="stylesheet" href="./styles/style.css">
  </head>
  <body>
    <main>
      <form class="contenedor-nueva-peli centrado" id="app">
        <h1>Subir pelicula</h1>
        <input type="text" name="nombre" id="nombre" v-model="nombre" placeholder="Titulo">
        <input type="text" name="descripcion" id="descripcion" v-model="descripcion" placeholder="Descripcion">
        <input type="text" name="categoria" id="categoria" v-model="categoria" placeholder="Categoria">
        <input type="text" name="trailer" id="trailer" v-model="trailer" placeholder="Trailer">
        <input type="number" name="duracion" id="duracion" v-model="duracion" placeholder="Duracion">
        <input type="text" name="idioma" id="idioma" v-model="idioma" placeholder="Idioma">
        <input type="text" name="imagen" id="imagen" v-model="imagen" placeholder="Imagen">
        <img width="100" :src="imagen" :alt="nombre">
        <button type="button" class="btn btn-success" v-on:click="grabar()">Grabar</button>
      </form>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
      </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
      </script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/peliculas.js"></script>
  </body>
</html>