<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/style.css">
    <title>Document</title>
</head>
<body>
    <main>
        <div id="app" class="container">
            <h1>Peliculas</h1>
            <div v-if="error">
                <p>Lo sentimos , ........</p>
            </div>
            <div v-else>
                <section v-if="cargando">
                    <div class="spinner-border"></div>
                    <p>Cargando .....</p>
                </section>
                <section v-else>
                    <div class="contenedor_peliculas">
                        <article class="pelicula" v-for="pelicula in peliculas">
                            <div class="imagen">
                                <img :src="pelicula.imagen" :alt="pelicula.nombre">
                            </div>
                            <div class="contenido">
                                <h2>{{pelicula.nombre}}</h2>
                                <p>{{pelicula.descripcion}}</p>
                            </div>
                        </article>
                        <!--table class="table table-bordered">
                            <tbody id="tableBody">
                                <tr class=""  v-for="pelicula in peliculas">
                                    <td>{{pelicula.nombre}}</td>
                                    <td>{{pelicula.descripcion}}</td>
                                    <td>
                                        <img width="60"  :src="pelicula.imagen" :alt="pelicula.nombre">
                                    </td>
                                    <td>
                                <a class="btn btn-primary" :href="'pelicula_update.html?id='+ pelicula.id" >Editar</a>
                                      <button type="button" class="btn btn-danger" v-on:click="eliminar(pelicula.id)" >Eliminar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table-->
                    </div>
                </section>
            </div>
        </div>
    </main>
    <script 
src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script><!--Link de VUE-->
    <script src="./js/peliculas.js"></script>
</body>
</html>