html, body{
    scroll-behavior:smooth;
}

main {
    padding: 1rem;
}

a.boton:hover {
    transform: scale(1.1) !important;
}

h2 {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 1rem auto;
}

table button, table .boton {
    padding: .5rem;
}

td, th {
    border: 1px solid #F1DD4B;
    max-width: 300px;
    height: 100px;
    overflow: auto;
    padding: 1rem;
}

.eliminar, .cancelar {
    background-color: #F00000;
}

.contenedor-nueva-peli {
    background-color: #000000A0;
    padding: 2rem 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
    width: 60%;
    border-radius: 1rem;
}

.buscador {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 1rem;
    padding: .4rem;
    border-width: 0 2px 2px 0;
    border-color: #F1DD4B;
    border-style: solid;
}

.fila {
    display: flex;
    justify-content: space-between;
}

.buscador input {
    border: none;
    background-color: transparent;
    color: #FAFAFA;
}

.buscador input:focus {
    border: none;
    outline: none;
}

.buscador .lupita {
    cursor: pointer;
}

@media screen and (max-width:700px) {
    .contenedor-nueva-peli {
        background-color: #000000A0;
        padding: 2rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 500px;
        width: 100%;
        border-radius: 1rem;
    }
    
}