body {
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.index {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #000C;
}

.index .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 3rem;
    width: 100%;
    height: 80%;
    color: #EEE;
    background-color: #FFF2;
    border-radius: 1rem;
}

.index .contenedor .logo {
    width: 100%;
    min-width: 200px;
    max-width: 600px;
    height: auto;
    opacity: 0;
    animation: 800ms ease-out aparecer-izquierda;
    animation-fill-mode: forwards;
}

.index .contenedor .logo .logo-imagen{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.index .contenedor h2 {
    opacity: 0;
    animation: 800ms ease-in 100ms aparecer-derecha;
    animation-fill-mode: forwards;
}

.index .contenedor .contenedor-botones {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.index .contenedor .contenedor-botones button {
    width: 15%;
    min-width: 120px;
    transform: scale(1);
    opacity: 0;
    animation: 1500ms linear 200ms aparecer;
    animation-fill-mode: forwards;
}

.index .contenedor .contenedor-botones button:hover {
    transform: scale(1.1)
}

.index .contenedor .contenedor-botones .ingresar {
    background-color: var(--color-primario);
    color: #EEE;
}

.index .contenedor .contenedor-botones .registrarse {
    background-color: #EEE;
    color: #000;
}

.formulario {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 1rem;
    width: 40%;
    min-width: 500px;
    height: 80%;
    padding: 3rem 8rem;
    color: #EEE;
    background-color: #000000F5;
}

.formulario input[type="text"],.formulario input[type="password"] {
    align-self: flex-start;
    color: #EEE;
    background-color: transparent;
    border: none;
    width: 150px;
    padding: .5rem;
    transition-property: width;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.formulario .salir {
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    color: var(--color-primario);
    font-size: 2rem;
}

.formulario input[type="text"]:focus,.formulario input[type="password"]:focus {
    width: 100%;
    border-bottom: var(--color-primario) solid 2px;
    outline: none;
}

.formulario input[type="submit"] {
    background-color: var(--color-primario);
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    color: #EEE;
    transition: transform 500ms linear;
}

.formulario input[type="submit"]:hover {
    transform: scale(1.1);
}

.mostrar {
    display: flex;
}

.sin-sesion {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.5rem;
}

@media screen and (max-width: 500px) {
    .index .contenedor {
        padding: 5rem 3rem;
        justify-content: space-around;
    }
}